USE [master]
GO
/****** Object:  Database [HospitalManagementSystem]    Script Date: 7/8/2025 2:00:28 AM ******/
CREATE DATABASE [HospitalManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalManagementSystem', FILENAME = N'E:\مع نفسك\DataBase\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalManagementSystem_log', FILENAME = N'E:\مع نفسك\DataBase\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManagementSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK__Appointm__8ECDFCC233D640B7] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Departme__B2079BED195DED3C] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [varchar](100) NOT NULL,
	[Specialty] [varchar](100) NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK__Doctors__2DC00EBFFC514652] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [varchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [char](1) NULL,
	[Phone] [varchar](20) NULL,
	[RoomId] [int] NULL,
 CONSTRAINT [PK__Patients__970EC3660B29EE3F] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientTreatments]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTreatments](
	[PatientId] [int] NOT NULL,
	[TreatmentId] [int] NOT NULL,
	[ObtainDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK__PatientT__434AAD784772C2B9] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC,
	[TreatmentId] ASC,
	[ObtainDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [varchar](10) NOT NULL,
	[Occupied] [bit] NOT NULL,
 CONSTRAINT [PK__Rooms__328639397843C3FE] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 7/8/2025 2:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentName] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK__Treatmen__1A57B7F1BC0A80AA] PRIMARY KEY CLUSTERED 
(
	[TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250508114013_Fix Identity', N'8.0.15')
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [DoctorId], [DateTime]) VALUES (1, 1, 1, CAST(N'2025-04-10T09:00:00.000' AS DateTime))
INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [DoctorId], [DateTime]) VALUES (2, 2, 2, CAST(N'2025-04-10T10:30:00.000' AS DateTime))
INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [DoctorId], [DateTime]) VALUES (3, 3, 5, CAST(N'2025-04-11T14:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'Cardiology')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (2, N'Neurology')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (3, N'Pediatrics')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorId], [DoctorName], [Specialty], [DepartmentId]) VALUES (1, N'Dr. Smith', N'Cardiologist', 1)
INSERT [dbo].[Doctors] ([DoctorId], [DoctorName], [Specialty], [DepartmentId]) VALUES (2, N'Dr. Johnson', N'Neurosurgeon', 2)
INSERT [dbo].[Doctors] ([DoctorId], [DoctorName], [Specialty], [DepartmentId]) VALUES (3, N'Dr. Williams', N'Pediatrician', 3)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [PatientName], [DateOfBirth], [Gender], [Phone], [RoomId]) VALUES (1, N'John Doe', CAST(N'1980-05-15' AS Date), N'M', N'555-0101', 1)
INSERT [dbo].[Patients] ([PatientId], [PatientName], [DateOfBirth], [Gender], [Phone], [RoomId]) VALUES (2, N'Jane Smith', CAST(N'1975-08-22' AS Date), N'F', N'555-0102', 2)
INSERT [dbo].[Patients] ([PatientId], [PatientName], [DateOfBirth], [Gender], [Phone], [RoomId]) VALUES (3, N'Robert Johnson', CAST(N'1992-03-10' AS Date), N'M', N'555-0103', 4)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
INSERT [dbo].[PatientTreatments] ([PatientId], [TreatmentId], [ObtainDate], [EndDate]) VALUES (1, 1, CAST(N'2025-01-10' AS Date), CAST(N'2025-01-15' AS Date))
INSERT [dbo].[PatientTreatments] ([PatientId], [TreatmentId], [ObtainDate], [EndDate]) VALUES (1, 2, CAST(N'2025-01-16' AS Date), CAST(N'2025-02-28' AS Date))
INSERT [dbo].[PatientTreatments] ([PatientId], [TreatmentId], [ObtainDate], [EndDate]) VALUES (2, 3, CAST(N'2025-02-05' AS Date), CAST(N'2025-02-05' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Occupied]) VALUES (1, N'101', 1)
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Occupied]) VALUES (2, N'102', 1)
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Occupied]) VALUES (3, N'103', 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Treatments] ON 

INSERT [dbo].[Treatments] ([TreatmentId], [TreatmentName], [Description]) VALUES (1, N'Chemotherapy', N'Cancer treatment using drugs')
INSERT [dbo].[Treatments] ([TreatmentId], [TreatmentName], [Description]) VALUES (2, N'Physical Therapy', N'Rehabilitation to improve mobility')
INSERT [dbo].[Treatments] ([TreatmentId], [TreatmentName], [Description]) VALUES (3, N'Angioplasty', N'Procedure to open blocked arteries')
SET IDENTITY_INSERT [dbo].[Treatments] OFF
GO
/****** Object:  Index [IX_Appointments_DoctorId]    Script Date: 7/8/2025 2:00:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId] ON [dbo].[Appointments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientId]    Script Date: 7/8/2025 2:00:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_DepartmentId]    Script Date: 7/8/2025 2:00:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_DepartmentId] ON [dbo].[Doctors]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patients_RoomId]    Script Date: 7/8/2025 2:00:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patients_RoomId] ON [dbo].[Patients]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientTreatments_TreatmentId]    Script Date: 7/8/2025 2:00:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_PatientTreatments_TreatmentId] ON [dbo].[PatientTreatments]
(
	[TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Docto__49C3F6B7] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Docto__49C3F6B7]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Patie__48CFD27E] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Patie__48CFD27E]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK__Doctors__Departm__3C69FB99] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK__Doctors__Departm__3C69FB99]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK__Patients__RoomId__403A8C7D] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK__Patients__RoomId__403A8C7D]
GO
ALTER TABLE [dbo].[PatientTreatments]  WITH CHECK ADD  CONSTRAINT [FK__PatientTr__Patie__44FF419A] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PatientTreatments] CHECK CONSTRAINT [FK__PatientTr__Patie__44FF419A]
GO
ALTER TABLE [dbo].[PatientTreatments]  WITH CHECK ADD  CONSTRAINT [FK__PatientTr__Treat__45F365D3] FOREIGN KEY([TreatmentId])
REFERENCES [dbo].[Treatments] ([TreatmentId])
GO
ALTER TABLE [dbo].[PatientTreatments] CHECK CONSTRAINT [FK__PatientTr__Treat__45F365D3]
GO
USE [master]
GO
